openapi: 3.0.0
info:
  title: API Contract Simple v1 - Khusus Modul Presensi QR
  description: |
    API ini mengelola Presensi QR Dinamis.
    Sesuai kontrak Versi A (Google Apps Script).
    Dokumentasi ini telah dipisah berdasarkan Role (Dosen dan Mahasiswa).
  version: 1.0.2
servers:
  - url: https://script.google.com/macros/s/{deployment-id}/exec
    description: Google Apps Script Base URL
    variables:
      deployment-id:
        default: AKfycbzwGB2egCMblZrIQUQJketAhlABHr5jde6JoBAwdY6RhiuLlcs3Wzm1C71cQykB-awqEw
        description: ID Deployment dari Google Apps Script

tags:
  - name: Flow Dosen
    description: Operasi yang dilakukan oleh Dosen (Membuat sesi dan memantau status).
  - name: Flow Mahasiswa
    description: Operasi yang dilakukan oleh Mahasiswa (Melakukan presensi).

paths:
  /presence/qr/generate:
    post:
      summary: (Dosen) Generate QR Token
      description: Dosen membuat token QR dinamis untuk sesi presensi kelas yang akan ditampilkan di proyektor.
      tags:
        - Flow Dosen
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [course_id, session_id, ts]
              properties:
                course_id:
                  type: string
                  example: "cloud-101"
                session_id:
                  type: string
                  example: "sesi-02"
                ts:
                  type: string
                  format: date-time
                  example: "2026-03-03T10:00:00Z"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseQRGenerate'

  /presence/status:
    get:
      summary: (Dosen) Cek Status Presensi Mahasiswa
      description: Dosen mengecek status presensi mahasiswa secara spesifik untuk melihat apakah mereka sudah scan QR atau belum.
      tags:
        - Flow Dosen
      parameters:
        - name: user_id
          in: query
          required: true
          schema:
            type: string
            example: "434231026"
        - name: course_id
          in: query
          required: true
          schema:
            type: string
            example: "cloud-101"
        - name: session_id
          in: query
          required: true
          schema:
            type: string
            example: "sesi-02"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseStatus'

  /presence/list:
    get:
      summary: (Dosen) Daftar Presensi Kelas
      description: Dosen mengambil daftar lengkap mahasiswa yang telah melakukan check-in pada sesi kelas tertentu.
      tags:
        - Flow Dosen
      parameters:
        - name: course_id
          in: query
          required: true
          schema:
            type: string
            example: "cloud-101"
        - name: session_id
          in: query
          required: true
          schema:
            type: string
            example: "sesi-02"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 200
            example: 200
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponsePresenceList'

  /presence/checkin:
    post:
      summary: (Mahasiswa) Check-in Presensi
      description: Mahasiswa melakukan check-in dengan mengirimkan hasil scan token QR beserta identitas perangkat.
      tags:
        - Flow Mahasiswa
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, device_id, course_id, session_id, qr_token, ts]
              properties:
                user_id:
                  type: string
                  example: "434231026"
                device_id:
                  type: string
                  example: "dev-web-etax0aol"
                course_id:
                  type: string
                  example: "cloud-101"
                session_id:
                  type: string
                  example: "sesi-02"
                qr_token:
                  type: string
                  example: "TKN-8F2A19"
                ts:
                  type: string
                  format: date-time
                  example: "2026-03-03T10:05:00Z"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseCheckin'

components:
  schemas:
    # --- Standard Models ---
    BaseResponse:
      type: object
      properties:
        ok:
          type: boolean
          example: true
    ErrorResponse:
      type: object
      properties:
        ok:
          type: boolean
          example: false
        error:
          type: string
          example: "missing_field: user_id"

    # --- Presence Models ---
    SuccessResponseQRGenerate:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                qr_token:
                  type: string
                  example: "TKN-8F2A19"
                expires_at:
                  type: string
                  format: date-time
                  example: "2026-03-03T10:02:00Z"

    SuccessResponseCheckin:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                presence_id:
                  type: string
                  example: "PR-0001"
                status:
                  type: string
                  example: "checked_in"

    SuccessResponseStatus:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                user_id:
                  type: string
                  example: "434231026"
                course_id:
                  type: string
                  example: "cloud-101"
                session_id:
                  type: string
                  example: "sesi-02"
                status:
                  type: string
                  example: "checked_in"
                last_ts:
                  type: string
                  format: date-time
                  example: "2026-03-03T10:01:10Z"

    SuccessResponsePresenceList:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                course_id:
                  type: string
                  example: "cloud-101"
                session_id:
                  type: string
                  example: "sesi-02"
                total:
                  type: integer
                  example: 3
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      presence_id:
                        type: string
                        example: "PR-0001"
                      user_id:
                        type: string
                        example: "434231026"
                      device_id:
                        type: string
                        example: "dev-web-etax0aol"
                      ts:
                        type: string
                        format: date-time
                        example: "2026-03-03T10:01:10Z"
                      recorded_at:
                        type: string
                        format: date-time
                        example: "2026-03-03T10:01:11Z"